<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} "/>

</head>
<body>

    <div class="container">

        <div th:fragment="header">
            <h1>Aplicación</h1>
            <nav>
                <a th:href="@{/}">Home</a>
                <a th:href="@{/productos}">Productos</a>
            </nav>
        </div>

       <hr>
       <h2>Home</h2>
       <hr>

        <div class="container-fluid">

            <span th:text="${mensaje}"/>

        </div>

    </div>

</body>
</html>