<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Listado de Productos
    <br>
    <span th:text="${mensaje}"/>

    <br>
    <span th:text="${productos}"/>

    <table class="table" >
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${productos}">
            <td th:text="${item.nombre}"/>
            <td th:text="${item.precio}"/>
        </tr>
        </tbody>
    </table>



</body>
</html>