<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} "/>

</head>
<body>

    <div class="container">

        <div th:fragment="header">
            <h1>Aplicación</h1>
            <nav>
                <a th:href="@{/}">Home</a>
                Productos
                <a th:href="@{/registrar}">Registrar</a>
            </nav>
        </div>

        <hr>
        <h2>Listado de Productos </h2>
        <hr>

        <div class="container-fluid">

            <!-- Conditional rendering -->
            <div th:if="${productos.size() > 3}">
                <p>Hay más de 3 celulares!</p>
            </div>

            <br>
            <span th:text="${mensaje}"/>
            <br>
            <table class="table" >
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${productos}">
                    <td th:text="${item.nombre}"/>
                    <td th:text="${item.precio}"/>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>