<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} "/>

</head>
<body>

    <div class="container">

        <div th:fragment="header">
            <h1>Aplicación</h1>
            <nav>
                <a th:href="@{/}">Home</a>
                <a th:href="@{/productos}">Productos</a>
                Registrar
            </nav>
        </div>

       <hr>
       <h2>Registrar Usuario</h2>
       <hr>

        <div class="container-fluid">

            <form th:action="@{/registrar}" th:object="${usuario}" method="post">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text"  th:field="*{nombre}" />
                    <span th:if="${#fields.hasErrors('nombre')}"
                          th:errors="*{nombre}"></span>
                </div>
                <div class="form-group">
                    <label>Apellidos:</label>
                    <input type="text"  th:field="*{apellidos}" />
                    <span th:if="${#fields.hasErrors('apellidos')}"
                          th:errors="*{apellidos}"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Registar</button>
                </div>


            </form>

            <p th:text="${message}">Default message (will be replaced)</p>


        </div>

    </div>

</body>
</html>